<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block content %}

    <div class="container">
        <h2>Are you sure you want to delete "{{ course.title }}"?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

{% endblock %}
</body>
</html>